<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <!-- Sidebar -->
    <div id="navigationSidebar" class="sidebar">
        <button id="closeSidebarButton" class="sidebar-close"></button>
        <h2>To-Do</h2>
        <ul>
            <li><button onclick="location.href='/'">Home</button></li>
            <li><button onclick="location.href='/about'">About</button></li>
            <li><button onclick="location.href='/login'">Login</button></li>
            <!-- Add more buttons as needed -->
        </ul>
    </div>

    <!-- Sidebar Toggle Button -->
    <div id="toggleSidebarButton" class="sidebar-toggle">
        <i class="fas fa-bars"></i>
    </div>

    <div id="particlesContainer"></div>

    <div class="toggle-container">
        <i id="themeToggleIcon" class="fas fa-sun"></i>
    </div>

    <div class="container">
        <h1 class="text-center">Login</h1>

        <form action="/login" method="POST" class="login-form">
            <div class="form-group">
                <label for="username" class="form-label">Username:</label>
                <input type="text" id="username" name="username" placeholder="Enter your username" required class="form-input">
            </div>

            <div class="form-group">
                <label for="password" class="form-label">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required class="form-input">
            </div>

            <div class="form-group button-group">
                <button type="submit" class="form-button">Login</button>
            </div>
        </form>

        <p class="text-center">Don't have an account? <a href="/register" class="link">Register here</a></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>

    <script>
        // JavaScript for dark mode toggle
        document.addEventListener('DOMContentLoaded', function () {
            const icon = document.getElementById('themeToggleIcon');

            // Check localStorage for dark mode preference
            const darkModeStatus = localStorage.getItem('darkMode');
            if (darkModeStatus === 'enabled') {
                document.body.classList.add('dark-mode');
                icon.classList.remove('fa-sun');
                icon.classList.add('fa-moon');
            }

            icon.addEventListener('click', function () {
                if (document.body.classList.contains('dark-mode')) {
                    document.body.classList.remove('dark-mode');
                    localStorage.setItem('darkMode', 'disabled');
                    icon.classList.remove('fa-moon');
                    icon.classList.add('fa-sun');
                } else {
                    document.body.classList.add('dark-mode');
                    localStorage.setItem('darkMode', 'enabled');
                    icon.classList.remove('fa-sun');
                    icon.classList.add('fa-moon');
                }
            });

            // If system preference is dark and no preference is stored, enable dark mode by default
            if (darkModeStatus === null && window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
                document.body.classList.add('dark-mode');
                icon.classList.remove('fa-sun');
                icon.classList.add('fa-moon');
                localStorage.setItem('darkMode', 'enabled');
            }
        });

        particlesJS('particlesContainer', {
            particles: {
                number: {
                    value: 80,
                    density: {
                        enable: true,
                        value_area: 800
                    }
                },
                color: {
                    value: "#ffffff"
                },
                shape: {
                    type: "circle",
                    stroke: {
                        width: 0,
                        color: "#000000"
                    },
                    polygon: {
                        nb_sides: 5
                    }
                },
                opacity: {
                    value: 0.5,
                    random: false,
                    anim: {
                        enable: false,
                        speed: 1,
                        opacity_min: 0.1,
                        sync: false
                    }
                },
                size: {
                    value: 3,
                    random: true,
                    anim: {
                        enable: false,
                        speed: 40,
                        size_min: 0.1,
                        sync: false
                    }
                },
                line_linked: {
                    enable: true,
                    distance: 150,
                    color: "#ffffff",
                    opacity: 0.4,
                    width: 1
                },
                move: {
                    enable: true,
                    speed: 6,
                    direction: "none",
                    random: false,
                    straight: false,
                    out_mode: "out",
                    bounce: false,
                    attract: {
                        enable: false,
                        rotateX: 600,
                        rotateY: 1200
                    }
                }
            },
            interactivity: {
                detect_on: "canvas",
                events: {
                    onhover: {
                        enable: true,
                        mode: "repulse"
                    },
                    onclick: {
                        enable: true,
                        mode: "push"
                    },
                    resize: true
                },
                modes: {
                    grab: {
                        distance: 400,
                        line_linked: {
                            opacity: 1
                        }
                    },
                    bubble: {
                        distance: 400,
                        size: 40,
                        duration: 2,
                        opacity: 8,
                        speed: 3
                    },
                    repulse: {
                        distance: 200,
                        duration: 0.4
                    },
                    push: {
                        particles_nb: 4
                    },
                    remove: {
                        particles_nb: 2
                    }
                }
            },
            retina_detect: true
        });

        // JavaScript for sidebar toggle
        document.getElementById('toggleSidebarButton').addEventListener('click', function () {
            document.getElementById('navigationSidebar').classList.toggle('sidebar-open');
        });

        document.getElementById('closeSidebarButton').addEventListener('click', function () {
            document.getElementById('navigationSidebar').classList.remove('sidebar-open');
        });
    </script>
</body>

</html>
